/*
 * This is just temporary CSS that I took from getskeleton.com's own custom.css
 * */

:root {
  --header-height: 6.5rem;
}

pre, code {
  overflow-x: scroll;
}

pre {
  white-space: pre-wrap;
}

code {
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
  -webkit-font-smoothing: antialiased;
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F5F5F5;
  /* border: 1px solid #E1E1E1; */
  border-radius: 4px;
}

[id] {
  scroll-margin-top: calc(var(--header-height) + 1em);
}
a.code-link {
  border-bottom: 0;
}

.sep {
  margin-top: 18px;
}

.site-footer {
  margin-top: 80px;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
  background: #fff;
  z-index: 99;
  margin-bottom: 48px;
  border-bottom: 1px solid #eee;
}
.navbar-title {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #222;
  img {
    height: 38px;
  }
}
.navbar-link {
  font-weight: 300;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}
.github-links {
  display: flex;
  gap: 8px;
  a {
    display: inline;
    border-bottom: 1px solid rgba(114, 137, 144, 0.5)
  }
}

.cljs-legal {
  margin-bottom: 3.5rem;
}

.dash-logo {
  width: 48px;
  border-radius: 5px;
  vertical-align: middle;
  margin-right: 12px;
}

.dash-section {
  padding: 20px;
  background-color: #F1F7F7;
}

body.progress .g {
  background: rgba(0,255,0,0.2);
}
body.progress .y {
  background: rgba(255,255,0,0.2);
}
body.progress .r {
  background: rgba(255,0,0,0.2);
}
