
/**
 * Whole Container
 */
html, body {
  height: 100%;
  background-color: #FAFAFA;
}
.container {
  position: relative;
  min-width: $content-width + (2 * $content-padding);
  padding-bottom: $footer-height;
  min-height: 100%;
}

/**
 * Wrapper
 */
.wrapper {
    max-width: $content-width;
    margin-right: auto;
    margin-left: auto;
    padding-right: $content-padding;
    padding-left: $content-padding;
    @extend %clearfix;
}


/**
 * Site header
 */
.site-header {
  background: #fff;
  height: $header-height;

  .logo {
    display: inline-block;
    height: $header-height - (2 * $header-padding);
    margin: $header-padding 0;
  }

  .title-block {
    display: inline-block;
    vertical-align: middle;
    margin-left: 22px;

    .title {
      color: #5A5A5A;

      font-size: 22px;
      font-weight: 700;
      letter-spacing: 0.015em;

      line-height: 1em;
    }

    .subtitle {
      margin-left: 4px;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.02em;
      opacity: 0.6;
    }
  }

  .site-nav {
    display: inline-block;
    margin-left: 64px;
  }

  .site-nav-ext {
    float: right;
  }

  %page-link-common {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.8em;

    color: $text-color;

    letter-spacing: 0.03em;

    &:hover {
      text-decoration: none;
    }
  }

  .page-link {
    line-height: $header-height / 2;

    @extend %page-link-common;

    &.active {
      border-bottom: 3px solid #555;
    }
    &:hover {
      border-bottom: 3px solid #DDD;
      &.active {
        border-bottom-color: #555;
      }
    }
  }

  .page-link-ext {
    @extend %page-link-common;
    line-height: $header-height;
    // color: #AAA;
    opacity: 0.7;
    &:hover {
      // color: $text-color;
      opacity: 1;
    }
  }

}

/**
 * Site Footer
 */
.site-footer {
  color: #5A5A5A;
  font-size: 0.85em;
  font-weight: 400;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: $footer-height;
  padding-top: $footer-padding;

  hr {
    border: 0;
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px;
  }

  .grass {
    width: 14px;
    vertical-align: baseline;
  }

  .community-note {
    float: left;
  }

  .acknowledgements-link {
    margin-left: 1.2em;
  }

  .cljs-legal {
    float: right;
  }
}

.hero {
  padding: 40px 0;

  // BACKGROUND GRADIENT
  //   edited here: http://jxnblk.com/shade/?base=%23525C6E&hueShift=0&saturate=0&lighten=-0.2
  //   base color: #525C6E
  background-image: linear-gradient(-90deg, #414958, #647087);

  text-align: center;

  .hero-logo {
    width: 80px;
    opacity: 0.9;
  }

  .hero-title {
    color: #EBEBEB;
    font-size: 42px;
    font-weight: 300;
  }

  .hero-quote {
    font-style: italic;
    font-size: 18px;
    color: #B2E3E7;
  }

}

/**
 * Site Inner Content (main body)
 */

.pageContent {
  padding-top: (2 * $content-padding);

  .fa {
    margin-right: 5px;
  }

  dt {
    margin-bottom: 0.5em;
  }

  dd {
    margin-left: 1.5em;
  }
}

.newsContent {
  padding-top: (2 * $content-padding);
}

.inner-content {
  float: right;
  width: $inner-width;
}

.nosidebar .inner-content {
  float: none;
  margin: 0 auto;
}


/**
 * Page content
 */

.page-heading {
    font-size: 20px;
}

.news-title {
  font-size: 32px;
  line-height: 1;
}

.rss-subscribe {
  font-size: $small-font-size;
  color: $grey-color;
}

.news-table {
  margin-bottom: $spacing-unit;

  .news-date {
    width: 120px;
    text-align: right;
    padding-right: 0.5em;
    vertical-align: top;

    opacity: 0.6;
  }

  .news-link {
    font-weight: 700;
  }

}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    line-height: 1;
    margin-bottom: 0.4em;
}

.post-content {
    margin-bottom: $spacing-unit;
}
