
/**
 * Whole Container
 */
.container {
  min-width: $content-width + (2 * $content-padding);
}

/**
 * Wrapper
 */
.wrapper {
    max-width: $content-width;
    margin-right: auto;
    margin-left: auto;
    padding-right: $content-padding;
    padding-left: $content-padding;
    @extend %clearfix;
}


/**
 * Site header
 */
.site-header {
  background: #F7F7F7;
  height: $header-height;

  .logo {
    display: inline-block;
    height: $header-height - (2 * $header-padding);
    margin: $header-padding 0;
  }

  .title-block {
    display: inline-block;
    vertical-align: middle;
    margin-left: 22px;

    .title {
      color: #5A5A5A;

      font-size: 22px;
      font-weight: 600;
      letter-spacing: 0.015em;

      line-height: 1em;
    }

    .subtitle {
      margin-left: 4px;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.02em;
      opacity: 0.6;
    }
  }

  .site-nav {
    display: inline-block;
    margin-left: 64px;
  }

  .site-nav-ext {
    float: right;
  }

  %page-link-common {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;

    color: $text-color;

    letter-spacing: 0.03em;

    &:hover {
      text-decoration: none;
    }
  }

  .page-link {
    line-height: $header-height / 2;

    @extend %page-link-common;

    &.active {
      border-bottom: 3px solid #555;
    }
    &:hover {
      border-bottom: 3px solid #DDD;
      &.active {
        border-bottom-color: #555;
      }
    }
  }

  .page-link-ext {
    @extend %page-link-common;
    line-height: $header-height;
  }

}

/**
 * Site Inner Content (main body)
 */

.pageContent {
  padding-top: (2 * $content-padding);

  .fa {
    margin-right: 5px;
  }

  dt {
    margin-bottom: 0.5em;
  }

  dd {
    margin-left: 1.5em;
  }
}

.newsContent {
  padding-top: (2 * $content-padding);
}

.inner-content {
  float: right;
  width: $inner-width;
}

.nosidebar .inner-content {
  float: none;
  margin: 0 auto;
}


/**
 * Page content
 */

.page-heading {
    font-size: 20px;
}

.news-title {
  font-size: 32px;
  line-height: 1;
}

.rss-subscribe {
  font-size: $small-font-size;
  color: $grey-color;
}

.news-table {
  margin-bottom: $spacing-unit;

  .news-date {
    width: 120px;
    text-align: right;
    padding-right: 0.5em;
    vertical-align: top;

    opacity: 0.6;
  }

  .news-link {
    font-weight: 600;
  }

}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    line-height: 1;
    margin-bottom: 0.4em;
}

.post-content {
    margin-bottom: $spacing-unit;
}
