{:cljs-version "1.9.473"
 :dependencies [[hiccups "0.3.0"]
                [org.clojure/core.async "0.2.385"]]
 :builds {:sitegen {:src "src"
                    :compiler {:target :nodejs
                               :main "sitegen.core"
                               :output-to "target/sitegen.js"
                               :optimizations :simple}}
          :client {:src "src"
                   :compiler {:main "client.core"
                              :output-to "output/js/client.js"
                              :optimizations :advanced}}
          :interactive {:src "src"
                        :compiler {:main "client.interactive"
                                   :output-to "output/js/interactive.js"
                                   :optimizations :advanced}}
          :server {:src "src"
                   :compiler {:target :nodejs
                              :main "server.core"
                              :output-to "target/server.js"
                              :optimizations :simple}}}}
