{:deps {org.clojure/clojure       {:mvn/version "1.11.1"}
        org.clojure/java.jdbc     {:mvn/version "0.3.0-alpha4"}
        org.xerial/sqlite-jdbc    {:mvn/version "3.7.2"}
        clj-commons/fs            {:mvn/version "1.6.307"}
        hiccup/hiccup             {:mvn/version "1.0.5"}
        org.commonmark/commonmark {:mvn/version "0.18.1"}
        venantius/glow            {:mvn/version "0.1.6"}}

 :aliases
 {:run {:main-opts ["-m" "sitegen.main"]}}}

