[{:date "2012-01-20",
  :version "0.0-927",
  :author "Stuart Sierra",
  :google-group-msg "clojure/L4e8DtzdThY/IHIBBpZ8PrQJ"}
 {:date "2012-01-27",
  :version "0.0-971",
  :author "Stuart Sierra",
  :google-group-msg "clojure/2k0zyWnTs0M/oKGAr9lGxuUJ"}
 {:date "2012-05-10",
  :version "0.0-1211",
  :author "Stuart Sierra",
  :google-group-msg "clojure/ms8HWwuqTKY/sgyZm36ITKkJ"}
 {:date "2012-05-16",
  :version "0.0-1236",
  :author "Stuart Sierra",
  :google-group-msg "clojure/OakrMSmQZ1U/ZUW6XvERQGcJ"}
 {:date "2012-07-06",
  :version "0.0-1443",
  :author "Stuart Sierra",
  :google-group-msg "clojure/g2DE1Zz_0e4/yN-ISWHR6ccJ"}
 {:date "2012-10-14",
  :version "0.0-1503",
  :author "Stuart Sierra",
  :google-group-msg "clojure/gI9dbCaDX_8/TC6JuloBapIJ"}
 {:date "2012-10-19",
  :version "0.0-1513",
  :author "Stuart Sierra",
  :google-group-msg "clojure/19gbJ4r3NBw/c2BOlZzMaSoJ"}
 {:date "2012-11-09",
  :version "0.0-1535",
  :author "Stuart Sierra",
  :google-group-msg "clojure/kzzBoCZiAx0/dXx5DR7vrV4J",
  :title "with G.Closure 0.0-2029"}
 {:date "2013-02-16",
  :version "0.0-1586",
  :author "Stuart Sierra",
  :google-group-msg "clojure/hdYOKhiC9Ag/jX7zkEaCkesJ"}
 {:date "2013-05-03",
  :version "0.0-1798",
  :author "David Nolen",
  :google-group-msg "clojure/9mtwpYTx6RI/MHacS_AdinEJ"}
 {:date "2013-07-24",
  :version "0.0-1847",
  :author "Stuart Sierra",
  :google-group-msg "clojure/rvw_hfBCOWc/a8XEI8McjM0J"}
 {:date "2013-08-21",
  :version "0.0-1859",
  :author "David Nolen",
  :google-group-msg "clojurescript/5jjIZL52UQQ/YBx97JnhP28J"}
 {:date "2013-09-08",
  :version "0.0-1877",
  :author "David Nolen",
  :google-group-msg "clojurescript/qnRQdmu5yT8/Q8h8_wNjn9IJ",
  :title "Breaking change"}
 {:date "2013-09-15",
  :version "0.0-1885",
  :author "David Nolen",
  :google-group-msg "clojurescript/N31hDu83zeI/dr4Iwy96ScEJ",
  :title "Source maps!"}
 {:date "2013-09-27",
  :version "0.0-1909",
  :author "David Nolen",
  :google-group-msg "clojurescript/UsHggHPo-DM/RzqJuW8uy8wJ"}
 {:date "2013-10-04",
  :version "0.0-1913",
  :author "David Nolen",
  :google-group-msg "clojurescript/leynEQDaoyk/xVdm5XpG6nEJ"}
 {:date "2013-10-11",
  :version "0.0-1933",
  :author "David Nolen",
  :google-group-msg "clojurescript/O0Pm_CgQjuE/Vgo_ldFxwscJ"}
 {:date "2013-10-11",
  :version "0.0-1934",
  :author "David Nolen",
  :google-group-msg "clojurescript/vmD-L5H-_4Y/7RHrGO5yGUcJ"}
 {:date "2013-10-27",
  :version "0.0-1978",
  :author "David Nolen",
  :google-group-msg "clojurescript/0ZI5JEUgrG8/71yeTzZi_xEJ"}
 {:date "2013-11-06",
  :version "0.0-2014",
  :author "David Nolen",
  :google-group-msg "clojurescript/isf7k35pThA/CXyJr4v4seYJ",
  :title "source maps, incremental compilation, and internal changes"}
 {:date "2013-11-08",
  :version "0.0-2024",
  :author "David Nolen",
  :google-group-msg "clojurescript/HWjBRlZgCLw/9eF24GN4bRAJ"}
 {:date "2013-11-08",
  :version "0.0-2030",
  :author "David Nolen",
  :google-group-msg "clojurescript/itdtHoWWAGs/8TdVgalJexgJ",
  :title "core.async compatibility"}
 {:date "2013-11-21",
  :version "0.0-2060",
  :author "David Nolen",
  :google-group-msg "clojurescript/LGmAV1Xxm30/0Jy7cZRsJj4J"}
 {:date "2013-11-22",
  :version "0.0-2067",
  :author "David Nolen",
  :google-group-msg "clojurescript/CcIFD5q9kqg/TNJMLdLRCkAJ",
  :title "regressions, type inference & numeric checks"}
 {:date "2013-12-13",
  :version "0.0-2120",
  :author "David Nolen",
  :google-group-msg "clojurescript/mUVbtdnAvHA/LisdVWyAJKwJ"}
 {:date "2013-12-20",
  :version "0.0-2127",
  :author "David Nolen",
  :google-group-msg "clojurescript/0nxFc9xDmDw/juGJaPKRiNEJ"}
 {:date "2013-12-30",
  :version "0.0-2134",
  :author "David Nolen",
  :google-group-msg "clojurescript/NiUwST-8PO4/FowOiv6CfVAJ"}
 {:date "2013-12-30",
  :version "0.0-2138",
  :author "David Nolen",
  :google-group-msg "clojurescript/z_qvCeYmMgo/e2FiHturFgcJ"}
 {:date "2014-01-28",
  :version "0.0-2156",
  :author "David Nolen",
  :google-group-msg "clojurescript/bCNXDBrDVEs/i7qwfSv1fdsJ"}
 {:date "2014-02-21",
  :version "0.0-2173",
  :author "David Nolen",
  :google-group-msg "clojurescript/jW8IN9jySYo/DBPrDLLQi1sJ"}
 {:date "2014-03-26",
  :version "0.0-2197",
  :author "David Nolen",
  :google-group-msg "clojurescript/UKgf-rC1Y_8/5yvZ2IHOWkwJ"}
 {:date "2014-04-01",
  :version "0.0-2199",
  :author "David Nolen",
  :google-group-msg "clojurescript/SChRa6iUCL8/-tcxyadZyYMJ"}
 {:date "2014-04-02",
  :version "0.0-2202",
  :author "David Nolen",
  :google-group-msg "clojurescript/Eoj3zxpM7zY/rxw4Y5CkOV8J"}
 {:date "2014-05-22",
  :version "0.0-2227",
  :author "David Nolen",
  :google-group-msg "clojurescript/QOW4HbctqE8/IlEw_bxqH9wJ"}
 {:date "2014-06-13",
  :version "0.0-2234",
  :author "David Nolen",
  :google-group-msg "clojurescript/KN20FwoyoZ8/BZlGWNTnQxUJ"}
 {:date "2014-07-01",
  :version "0.0-2261",
  :author "David Nolen",
  :google-group-msg "clojurescript/lHVUNTbdGBU/_blg-TDGBtIJ"}
 {:date "2014-07-06",
  :version "0.0-2268",
  :author "David Nolen",
  :google-group-msg "clojurescript/i_w6fkfNW3U/mNYBJW9QPbcJ"}
 {:date "2014-07-25",
  :version "0.0-2277",
  :author "David Nolen",
  :google-group-msg "clojurescript/AuHJVXVdf_U/zFFiUacBR7gJ"}
 {:date "2014-08-01",
  :version "0.0-2280",
  :author "David Nolen",
  :google-group-msg "clojurescript/shiWkRKrZiw/imdrU2qULFoJ"}
 {:date "2014-08-07",
  :version "0.0-2301",
  :author "David Nolen",
  :google-group-msg "clojurescript/ghpbnZKjx3w/enfypPKOR2YJ",
  :title "Transducers!"}
 {:date "2014-08-09",
  :version "0.0-2311",
  :author "David Nolen",
  :google-group-msg "clojurescript/1IVqbqKlJLw/uMaQ_ocx0TYJ"}
 {:date "2014-08-27",
  :version "0.0-2322",
  :author "David Nolen",
  :google-group-msg "clojurescript/n0sfFX09Vbw/9Icme54Z-X0J",
  :title "Safari Hashing Fix"}
 {:date "2014-09-18",
  :version "0.0-2341",
  :author "David Nolen",
  :google-group-msg "clojurescript/kBo9pSNScm8/-Ovdkc6ZSwMJ",
  :title "Improved Analysis & Transducers"}
 {:date "2014-09-26",
  :version "0.0-2356",
  :author "David Nolen",
  :google-group-msg "clojurescript/LxGSTCfAUZU/Wt0AicRptuAJ"}
 {:date "2014-10-10",
  :version "0.0-2371",
  :author "David Nolen",
  :google-group-msg "clojurescript/tigdfow0w9A/kb7UC-iZmI0J"}
 {:date "2014-12-05",
  :version "0.0-2411",
  :author "David Nolen",
  :google-group-msg "clojurescript/M7GQx25XGU4/jhsptdOMLVgJ"}
 {:date "2014-12-17",
  :version "0.0-2496",
  :author "David Nolen",
  :google-group-msg "clojurescript/gnCl0CySSk8/_bA95j80KHQJ",
  :title "cljs.test - a clojure.test port"}
 {:date "2014-12-21",
  :version "0.0-2505",
  :author "David Nolen",
  :google-group-msg "clojurescript/3GWuFUr5z5o/62gUT6M0xqEJ"}
 {:date "2015-01-02",
  :version "0.0-2644",
  :author "David Nolen",
  :google-group-msg "clojurescript/mRAED4TFlCM/VMi-AOQBzFQJ",
  :title "enhanced REPLs"}
 {:date "2015-01-24",
  :version "0.0-2719",
  :author "David Nolen",
  :google-group-msg "clojurescript/pJ_EYHkYAUs/mLi8XfiQxZsJ",
  :title "JavaScript Dependencies"}
 {:date "2015-01-28",
  :version "0.0-2740",
  :author "David Nolen",
  :google-group-msg "clojurescript/vFw5gOhSf0M/FN-e_ElcYbQJ",
  :title "Windows"}
 {:date "2015-02-01",
  :version "0.0-2755",
  :author "David Nolen",
  :google-group-msg "clojurescript/pJ_EYHkYAUs/mLi8XfiQxZsJ",
  :title "r0.0-2755 - Browser REPL, macros, and incremental compilation"}
 {:date "2015-02-09",
  :version "0.0-2814",
  :author "David Nolen",
  :google-group-msg "clojurescript/KTOhX-QvpRo/j9-st6WUnI8J",
  :title "Nashorn REPL, async testing, and much more"}
 {:date "2015-02-12",
  :version "0.0-2843",
  :author "David Nolen",
  :google-group-msg "clojurescript/9ZrGYIhRzqM/-6GM31HTz7wJ",
  :title "Node, Node, Node"}
 {:date "2015-02-21",
  :version "0.0-2913",
  :author "David Nolen",
  :google-group-msg "clojurescript/n_8WHnlcOGI/1kmATGABVi0J",
  :title "Google Closure Modules, improved nREPL support"}
 {:date "2015-03-09",
  :version "0.0-3058",
  :author "David Nolen",
  :google-group-msg "clojurescript/fdT3f1HxJzM/rCbi7L1AI24J",
  :title "Enhanced REPLs, faster compile times"}
 {:date "2015-03-16",
  :version "0.0-3115",
  :author "David Nolen",
  :google-group-msg "clojurescript/e3gOEUJlkMc/PATUU2JaBl4J"}
 {:date "2015-03-18",
  :version "0.0-3126",
  :author "David Nolen",
  :google-group-msg "clojurescript/rt7Fc86v1aU/u5G56vi5M6sJ",
  :title "fix for minor REPL regression"}
 {:date "2015-04-10",
  :version "0.0-3196",
  :author "David Nolen",
  :google-group-msg "clojurescript/pdZVL6gAPio/Jtv7WmuEK9QJ",
  :title "Conditional Reading, REPLs, and Code Motion"}
 {:date "2015-04-23",
  :version "0.0-3211",
  :author "David Nolen",
  :google-group-msg "clojurescript/UhmSvyQVJGg/CWfwqNOub5YJ"}
 {:date "2015-05-08",
  :version "0.0-3255",
  :author "David Nolen",
  :google-group-msg "clojurescript/A--qv0JxfO8/FoCzLNQ-D4EJ",
  :title "Pretty Printer and Latest Closure Compiler/Library"}
 {:date "2015-06-01",
  :version "0.0-3308",
  :author "David Nolen",
  :google-group-msg "clojurescript/kNIKpsFgvyk/y1u_AjChLfYJ",
  :title "Fixes and Enhancements"}
 {:date "2015-07-31",
  :version "1.7.28",
  :author "David Nolen",
  :google-group-msg "clojurescript/Z6xD9UthbvQ/gsLMbURGAgAJ",
  :title "Optional Self Hosting"}
 {:date "2015-08-05",
  :version "1.7.48",
  :author "David Nolen",
  :google-group-msg "clojurescript/zvZtw7UoyQA/cyP0r6HeAwAJ"}
 {:date "2015-10-13",
  :version "1.7.145",
  :author "David Nolen",
  :google-group-msg "clojurescript/o7AF4XeksZ4/dlxxQ_p2CQAJ"}
 {:date "2015-11-06",
  :version "1.7.170",
  :author "David Nolen",
  :google-group-msg "clojurescript/AiCARjGT2Mg/J2TdxtHgBAAJ",
  :title "Enhanced Build Pipeline"}
 {:date "2016-01-08",
  :version "1.7.228",
  :author "David Nolen",
  :google-group-msg "clojurescript/1R8YtC99xp8/QlcAoSSECwAJ",
  :title "parallel builds!"}
 {:date "2016-03-18",
  :version "1.8.34",
  :author "David Nolen",
  :google-group-msg "clojurescript/J2d_WNHrDr4/degpx-WyDAAJ"}
 {:date "2016-03-28",
  :version "1.8.40",
  :author "David Nolen",
  :google-group-msg "clojurescript/pIcyxxYzIFg/Kktcv9uxDwAJ"}
 {:date "2016-04-25",
  :version "1.8.51",
  :author "David Nolen",
  :google-group-msg "clojurescript/fR1PVRXtzCI/8ydOrUjzAAAJ"}
 {:date "2016-06-01",
  :version "1.9.14",
  :author "David Nolen",
  :google-group-msg "clojurescript/4Fvwx2Jf1nU/ubO51d-kAQAJ",
  :title "clojure.spec port"}
 {:date "2016-06-03",
  :version "1.9.36",
  :author "David Nolen",
  :google-group-msg "clojurescript/J3uzRNaSw_8/03BdZlQUAgAJ",
  :title "cljs.spec fixes & performance enhancements"}
 {:date "2016-06-17",
  :version "1.9.76",
  :author "David Nolen",
  :google-group-msg "clojurescript/MKNhxz7DYuE/sB93k4r8AAAJ"}
 {:date "2016-06-22",
  :version "1.9.89",
  :author "David Nolen",
  :google-group-msg "clojurescript/gV51RVRvIYw/qiztnyVuAgAJ"
  :title "cljs.spec & :preloads"}
 {:date "2016-08-12",
  :version "1.9.198",
  :author "David Nolen",
  :google-group-msg "clojurescript/a7KnSSwJsbk/MWMs9yZlCwAJ"
  :title "cljs.spec, core ns aliasing, macro inference, :rename, and more!"}
 {:date "2016-08-15"
  :version "1.9.216"
  :author "David Nolen"
  :google-group-msg "clojurescript/KIX2ll89Ohk/3DJWEGk6DAAJ"
  :title "cljs.spec fixes"}
 {:date "2016-08-19"
  :version "1.9.229"
  :author "David Nolen"
  :google-group-msg "clojurescript/MF8QfYkIDOs/HsIu7iKEDQAJ"
  :title "cljs.spec fixes"}
 {:date "2016-10-19"
  :version "1.9.293"
  :author "David Nolen"
  :google-group-msg "clojurescript/96RnUYnhq8E/b2TmFNeOCwAJ"}
 {:date "2017-01-27"
  :version "1.9.456"
  :author "David Nolen"
  :title "Externs Inference & Comprehensive JS Modules Support"
  :google-group-msg "clojurescript/wGJeG36GPTk/e9XCo3a2BgAJ"}
 {:date "2017-02-11"
  :version "1.9.473"
  :author "David Nolen"
  :title "bugfix release"
  :google-group-msg "clojurescript/rK2pnUwvTkI/th7Wh0L6CgAJ"}
 {:date "2017-02-24"
  :version "1.9.494"
  :author "David Nolen"
  :title "another bugfix release"
  :google-group-msg "clojurescript/cw3bQL-FsUA/CWICRwKyAAAJ"}
 {:date "2017-04-12"
  :version "1.9.518"
  :author "David Nolen"
  :title "`async` issue resolved"
  :google-group-msg "clojurescript/c_9LafTpS4g/xkZGIYPMBwAJ"}]
