[{:title "Arithmetic" :entries ["*"
                                "+"
                                "-"
                                "/"
                                "quot"
                                "rem"
                                "mod"
                                "inc"
                                "dec"
                                "max"
                                "min"]}]
