---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// font styles taken from GitHub
$base-font-family: "Open Sans", Arial, freesans, sans-serif;
$base-font-size:   16px;
$base-line-height: 1.6;
$text-color:       #333;
$brand-color:      #4078c0;

$small-font-size:  $base-font-size * 0.875;

$spacing-unit:     30px;

$background-color: #fdfdfd;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Content sizes
// (taken from http://facebook.github.io/react)
$content-width:    960px;
$sidebar-width:    210px;
$inner-width:      650px;
$content-padding:  20px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
