<header class="site-header">

  <div class="wrapper">

    <a href="{{ site.baseurl }}/"><img class="logo" src="/img/logo-light.svg"></a>

    <div class="title-block">
      <div class="title">ClojureScript</div>
      <div class="subtitle">early website preview</div>
    </div>

    <nav class="site-nav">
      <a class="page-link {% if page.id == 'about' %}active{% endif %}" href="{{ site.baseurl }}/about">About</a>
      <a class="page-link {% if page.sectionid == 'docs' %}active{% endif %}" href="{{ site.baseurl }}/docs">Docs</a>
      <a class="page-link {% if page.sectionid == 'news' %}active{% endif %}" href="{{ site.baseurl }}/news">News</a>
      <a class="page-link {% if page.id == 'community' %}active{% endif %}" href="{{ site.baseurl }}/community">Community</a>
    </nav>

    <nav class="site-nav-ext">
      <a class="page-link-ext" href="https://github.com/clojure/clojurescript">GitHub</a>
      <a class="page-link-ext" href="http://clojure.org">Clo<i>j</i>ure <img width="24px" src="/img/clojure-icon.gif"></a>
    </nav>

  </div>

</header>
