{:site-title         "ClojureScript"
 :author             "Shaun LeBron"
 :description        "The Clojure to JavaScript compiler"
 :site-url           "http://cljs.info"
 :post-root          "posts"                              ; value prepended to all post uri's
 :tag-root           "tags"                               ; value prepended to all tag uri's
 :page-root          "pages"                              ; value prepended to all page uri's
 :blog-prefix        nil                                  ; prepended to all uri's (must start with slash), nil by default
 :rss-name           "feed.xml"                           ; name of the rss file generated, nil defaults to rss.xml
 :rss-filters        []                                   ; used to generate tag-based rss feeds for topic-specific rss aggregators. Tags listed here should match tags being used in your posts
 :recent-posts       3                                    ; number of recent posts to display in the sidebar
 :post-date-format   "yyyy-MM-dd"                         ; date format for your .md or .asc files, yyyy-MM-dd by default
 :sass-src           nil                                  ; directory containing sources of sass files to be compiled - defaults to "css" - be sure to include this directory in your resources section
 :sass-dest          nil                                  ; directory where the compiled output CSS would be put into. defaults to "css" - be sure to include this directory in your resources section
 :theme              "blue"
 :resources          ["img"]                              ; list of folders or files to be copied over from templates to public
 :keep-files         [".git"]                             ; list of folders or files that are not wiped in the public directory. For example, this allows to keep a .git directory there across recompiles of the site to versionize the generated files
 :disqus?            false
 :disqus-shortname   ""
 :ignored-files      [#"\.#.*" #".*\.swp$"]               ; list of regexps matching files the compiler should ignore
 :posts-per-page     5
 :blocks-per-preview 2
 :previews?          false}
