---
layout: default
---

<div class="hero">
  <div class="wrapper">
    <img class="hero-logo" src="/img/logo-light.svg">
    <div class="hero-title">ClojureScript</div>
    <div class="hero-quote">"Clojure rocks, and JavaScript reaches."</div>
  </div>
</div>

<!--
NOTE: Having trouble squeezing this blurb into the hero section without ruining the design.
      Just give it another section.

"A carefully designed and optimized language that compiles to JavaScript."
-->

<div class="wrapper nosidebar pageContent">
  <div class="inner-content">

      {{ content }}

  </div>
</div>
