---
layout: default
---

<div class="hero">
  <div class="wrapper">
    <img class="hero-logo" src="/img/cljs-white.svg">
    <div class="hero-title">ClojureScript</div>
    <div class="hero-quote">"Clojure rocks, and JavaScript reaches."</div>
  </div>
</div>

<!--
NOTE: Having trouble squeezing this blurb into the hero section without ruining the design.
      Just give it another section.


What is this?

ClojureScript is a dynamic language that compiles to JavaScript.

Knee-jerk (?) points

- Clojure, a singular vision: The Clojure language introduced simple and
  practical principles to make it a mainstream industry success on the JVM.
  ClojureScript continues this legacy by allowing these principles to reach the
  large and ubiquitous JavaScript platform.
- Embraces JavaScript: ClojureScript is designed at its core to be a guest to
  the JavaScript host platform, meaning easy usage of JS from CLJS and vice
  versa. Start easing CLJS into your codebase today.
- Aggressively Optimized: A fast compiler and runtime tuned for over four years.

Technical Innovation points

- Functional with the good parts of OOP: pure data and functions in favor of OOP. But imperative
  styles, polymorphic functions, and hierarchical relationships allowed when those
  parts of OOP are needed.  Schema is here if you need runtime type checking.
- Purity of complex values: In JS, numbers and strings are values that can
  never change.  Perhaps Clojure's most popular innovation is to extend this idea to
  any type (efficiently!), making an entire class of mutation errors just disappear. This truly
  enables pure functions to accept and return complex data without dangerous mutation.
- Be more expressive: the full syntax power of an improved Lisp. Everything is
  an expression of the same shape.  Expressions become like LEGO pieces: simple,
  consistent, and easily composable.  Macros are the notorious footgun of Lisp-lore,
  but they are generaly used by library developers to give application developers
  the full power of the language.  (Golang's goroutines were added as library!)

External Tech points:

- Google's Dead Code Elimination: Though notoriously difficult to use from JS,
  ClojureScript get the benefits of Google's extensive JS production library/compiler
  (coincidentally called "Closure") for free.  The same stuff used by Gmail, Google Maps, etc.
  This gives you the holy grail of size optimization by analyzing your entire
  program and removing code you never use.  Never worry about using large libraries ever again.

- React fully Embraced: 

- Figwheel: The most innovative way to develop with reloadable code.

Why is this different?

How is this better?

* Is it stable? *

-->

<div class="wrapper nosidebar pageContent">
  <div class="inner-content">

      {{ content }}

  </div>
</div>
